.gradle
build
persistent/src/main/resources/usersfiles
persistent/src/main/resources/Testfile.txt
js-app/node_modules
.idea/CodeStyles/codeStyleConfig.xml
.idea/CodeStyles/Project.xml
.idea/jsLinters/eslint.xml
.idea/inspectionProfiles/Project_Default.xml
/js-app/coverage/
/js-app/dist/
