/* Font Face */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/roboto-regular.woff2') format('woff2')
}

body{
    margin: 0;
    background: #f2f2f2;
    font: 12px "Roboto" , "Times New Roman" , Times , serif;
    color: #000;
    min-width: 520px;
    font-size: 14px;
    font-weight: bold;
}
a {
    color: #0385d3;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: #0385d3;
}
.horizontal-line{
    border: 0;
    height: 1px;
    width: 93%;
    background: #000;
}
input{
    width: 100%;
    padding: 4px 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 13px ;
    font-weight: bold;
    height: 34px;
    width: 100%;
}

.text-input.error {
    border: 2px solid #ff6058;
    margin-bottom: 5px;
}
.text-input.error:hover  , .text-input.error:focus{
    outline: none;
    border-color: #ff6058;
    box-shadow: 0 0 5px #FF6058;
}
.text-input:hover  , .text-input:focus{
    outline: none;
    border-color: #0385d3;
    box-shadow: 0 0 5px #0385d3;
}
.blue-button{
    text-align: center;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 0 13px;
    height: 34px;
    background: #0385d3;
    display: inline-block;
    margin-left: 220px;
 }
button:hover{
    background: #286090;
}

.wrapper-auth{
    width: 37%;
    margin: 0px auto;
}
.page-header{
    padding-top: 30px;
    padding-bottom: 27px;
}
.box{
    background: #fff;
    padding: 0 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px #999;
    height: max-content;
}
.box h1{
    margin: 18px 13px 8px;
    font-size: 30px;
}
.row{
    padding: 15px;
    margin-bottom: 20px;
}
.input-group{
    margin-top: -7px;
    width: 64%;
    float: right;
    padding: 5px;
}

.form-label{
    float: left;
    margin-left: -2px;
    margin-top: 7px;
}

.button-row{
    display: flex;
    width: 100%;
    margin-top: 31px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    margin-left: -25px;
 }
.account-link{
    float: right;
    margin-top: 2px;
    margin-right: -12px;
    justify-content: space-between;
}
.error-form .row{
    margin-bottom: 43.5px;
}
.error-message{
    padding-top:10px;
    color: #ff6058;
}
.error-form .button-row{
    margin-top: 60px;
}






