/* Font Face */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/roboto-regular.woff2') format('woff2')
}

body{
    margin: 0;
    background: #f2f2f2;
    font: 12px "Roboto" , "Times New Roman" , Times , serif;
    font-weight: 600;
    color: #000;
    min-width: 1000px;
}
.wrapper{
    width: 560px;
    margin: 30px auto;
}
.page-header{
    padding: 30px 0 24px;
}
.box{
    margin: 25px auto;
    background: #fff;
    border-radius: 20px;
    height: 200px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px #999;
    padding: 20px;
}
.box h1{
    margin: 2px;
    font-size: 30px;
}
.hr{
    margin: 0;
    border: 0;
    height: 0px;
    background: #000;
}
.email_row{
    margin-top: 30px;
}
.email_row label{
    font-weight: bold;
    font-size: 14px;

}
input{
    border-radius: 4px;
    border: 1px solid #ccc;
}

.email_row input{
    margin-top: -10px;
    padding-left: 14px;
    height: 30px;
    width: 318px;
    float: right;
    outline: none;

}
.password_row{
    margin-top: 15px;
}
.password_row label{
    font-weight: bold;
    font-size: 14px;
}

.password_row input{
    margin-top: -8px;
    padding-left: 14px;
    height: 29px;
    width: 316px;
    float: right;
    outline: none;
}
.button_row{
    margin-left: 183px;
    width: 400px;
    height: 65px;
    margin-top: 15px;
}
.sign_in{
    color: #fff;
    border-radius: 5px;
    margin-top: -5px;
    border: none;
    width: 68px;
    height: 34px;
    background: #0385D3;
}
.sign_in:hover{
    background: #286090;
}
.account {
    font-weight: bold;
    font-size: 14px;
    margin-left: 93px;
    color: #0385D3;
    text-decoration: none;
}
.account:hover{
    text-decoration: underline;
    color: #0385D3;
}
/**
Registration page
 */
.registration_box{
    margin: 25px auto;
    background: #fff;
    border-radius: 20px;
    height: 250px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px #999;
    padding: 20px;
}
.registration_box h1{
    margin: 2px;
    font-size: 30px;
}
.confirm_password_row{
    margin-top: 20px;
}
.confirm_password_row label{
    font-weight: bold;
    font-size: 14px;
}
.confirm_password_row input{
    margin-top: -8px;
    padding-left: 14px;
    height: 29px;
    width: 316px;
    float: right;
    outline: none;
}
.registration_error_box{
    margin: 25px auto;
    background: #fff;
    border-radius: 20px;
    height: 327px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px #999;
    padding: 20px;
}
.registration_error_box h1{
    margin: 2px;
    font-size: 30px;
}
.error_message{
    font-weight: bold;
    color: #FF6058;
    font-size: 14px;
    margin-left: 184px;
}
.error_email_row label{
    font-weight: bold;
    font-size: 14px;

}
.error_email_row{
    margin-top: 30px;
}
.error_email_row input{
    margin-top: -10px;
    padding-left: 14px;
    height: 30px;
    width: 318px;
    float: right;
    outline: none;
    border-radius: 5px;
    border: 2px solid #FF6058;
}
.error_password_row{
    margin-top: 27px;
}
.error_password_row label{
    font-weight: bold;
    font-size: 14px;
}

.error_password_row input{
    margin-top: -8px;
    padding-left: 14px;
    height: 29px;
    width: 316px;
    float: right;
    outline: none;
    border-radius: 5px;
    border: 2px solid #FF6058;
}
.error_confirm_password_row{
    margin-top: 22px;
}
.error_confirm_password_row label{
    font-weight: bold;
    font-size: 14px;
}
.error_confirm_password_row input{
    margin-top: -8px;
    padding-left: 14px;
    height: 29px;
    width: 316px;
    float: right;
    outline: none;
    border-radius: 5px;
    border: 2px solid #FF6058;
}
.error_button_row{
    margin-left: 183px;
    width: 400px;
    height: 65px;
    margin-top: 23px;
}
/**
Index page
 */
.glyphicon{
    font-size: 20px;
}
.index-wrapper{
    width: 1143px;
    margin: 31px 0 0 188px;
}
.log{
    width: 400px;
    height: 50px;
}
.ul-user-data{
    list-style: none;
}
#ul-user-data li {
    display: inline;
}

.index_page-header{
    padding: 0px 0 24px;
}
.logos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 970px;
}
.glyphicon{
    font-size: 20px;
}
.glyphicon-user{
    font-size: 14px;
    margin-left: 6px;
    margin-top: -20px;
}
.pib{
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    margin-left: 4px;
    margin-top: -20px;
}
.vertical_line{
    font-weight: bold;
    font-size: 20px;
    margin-left: 7px;
    margin-top: -24px;
}
.a_link{
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    color: #0C87D4;
    margin-left: 5px;
    margin-top: -20px;
    text-decoration: none;
}
.glyphicon-log-out{
    font-size: 14px;
    color: #0C87D4;
    margin-left: 0px;
    margin-top: -20px;
}
.index_box{
    margin: 25px auto;
    background: #fff;
    border-radius: 20px;
    height: 200px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px #999;
    padding: 20px;
    height: 567px;
}
.home{
    font-weight: bold;
    font-size: 14px;
    border: none;
    background: #F5F5F5;
    color: #8A8A8A;
    border-radius: 5px;
    width: 70px;
    height: 35px;
}
.index_hr{
    margin: 20px 0 0 0;
    border: 0;
    height: 2px;
    background: #000;
}
.index_search{
    display: flex;
}
.index_search input{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    height: 34px;
    width: 475px;
    margin-top: 20px;
    margin-left: 1px;
}
.index_search button{
    border-radius: 0 5px 5px 0;
    margin-top: 20px;
    margin-left: -10px;
}
.index_search button:hover{
   background: #286090;
}
.top_buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.right_tree_buttons{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 450px;
}
.first_button{
    position: absolute;
    background: none;
    border-radius: 5px 0 0 5px;
    border: 1px solid #606060;
    height: 34px;
    width: 40px;
    background: #0C87D4;
    color: #F5F5F5;
}
.first_button:hover{
    background: #286090;
}
.second_button:hover{
    background: #286090;
}

.glyphicon-upload{
    font-size: 14px;
}
.glyphicon-plus{
    font-size: 14px;
}
.glyphicon-remove-circle{
    font-size: 14px;
}
.second_button{
    color: #F5F5F5;
    position: absolute;
    background: none;
    border: 1px solid #606060;
    height: 34px;
    width: 40px;
    margin-left: 39px;
    background: #0C87D4;
}
.third_button{
    position: absolute;
    color: #F5F5F5;
    border-radius: 0 5px 5px 0;
    background: none;
    border: 1px solid #606060;
    height: 34px;
    width: 40px;
    background: #D9534F;
    margin-left: 76px;
}
.first_button button:hover{
    background: #b60808;
}

/**
table
 */

.table-wrapper{
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
    overflow-y: scroll;
    margin-top: 15px;
    width: 1100px;
    height: 450px;
    max-height: 450px;
}
.table{
    border-collapse: collapse;
    width: 100%;
}
.table tr{
    margin: 0;
    border-top: 0.5px  solid #ccc;
}
.table td{
    height: 42px;
}
.glyphicon-chevron-right{
    font-size: 14px;
}

.first_td {
    padding-left: 10px;
    width: 30px;
}
.second_td{
    padding-left: 10px;
    text-align: center;
    width: 30px;
}
.third_td{
    padding-top: 2px;
    padding-left: 19px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 3px;
    color: #0385D3;
    width: 640px;
}
.third_td_black{
    color: #ccc;
    padding-top: 2px;
    padding-left: 20px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 3px;
    width: 640px;
}
.fourth_td{
    color: #ccc;
    padding-top: 2px;
    padding-left: 235px;
    width: 200px;
    font-size: 14px;
    font-weight: bold;
}
.fifth_td{
    color: #ccc;
    padding-right: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    width: 200px;
}
.sixth_td{
    width: 130px;
}
.footer{
    height: 150px;
    width: 80%;
    padding: 5px;

}
.company_links{
    font-size: 20px;
    text-align: center;
}
.logo_instagram{
    padding-left: 10px;
}
.logo_facebook{
    padding-left: 10px;
}
.copyright{
    padding-top: 5px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}
.folder_link:hover {
    font-weight: bold;
    font-size: 14px;
    color: #0C87D4;
    text-decoration: underline;
}
.folder_link {
    font-weight: bold;
    font-size: 14px;
    color: #0385D3;
    text-decoration: none;
}
/**
inner
 */
.inner_home{
    font-weight: bold;
    font-size: 14px;
    border: none;
    background: #F5F5F5;
    color: #8A8A8A;
    border-radius: 5px;
    width: max-content;
    height: 35px;
}
.inner_home a{
    padding-top: 5px;
    font-size: 13px;
    padding-left: 10px;

}

.inner_home span{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    font-size: 13px;
}
.authorization_error_box{
    margin: 25px auto;
    background: #fff;
    border-radius: 20px;
    height: 287px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px #999;
    padding: 20px;
}
.authorization_error_row{
    margin-left: 183px;
    width: 400px;
    height: 65px;
    margin-top: 35px;
}
/**
Empty inner
 */
.right_tree_buttons{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 450px;
}
.empty_first_button{
    position: absolute;
    background: none;
    border-radius: 5px 0 0 5px;
    border: 1px solid #606060;
    height: 34px;
    width: 40px;
    background: #0C87D4;
    color: #F5F5F5;
}
.empty_first_button:hover{
    background: #0385D3;
}
.empty_second_button:hover{
    background: #286090;
}

.empty_second_button{
    color: #F5F5F5;
    position: absolute;
    background: none;
    border-radius: 0 5px 5px 0;
    border: 1px solid #606060;
    height: 34px;
    width: 40px;
    margin-left: 39px;
    background: #0C87D4;
}
.empty_right_two_buttons{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 23px;
    margin-left: 488px;
}
.empty_message{
    color: #ccc;
    font-size: 14px;
    font-weight: bold;
    margin-left: 415px;
    margin-top: 218px;
}
/**
Index error
 */
.breadcrumb{
    color: #FF0100;
    font-weight: bold;
    font-size: 13px;
    border: none;
    background: #F5F5F5;
    border-radius: 5px;
    width: 220px;
    height: 35px;
}
.glyphicon-exclamation-sign{
    color: #FF0100;
    font-size: 14px;
}
/**
Error
 */
.error_message_page{
    color: #FF0100;
    font-size: 14px;
    font-weight: bold;
    margin-left: 460px;
    margin-top: 220px;
}
.error_logos{
    font-weight: bold;
    font-size: 14px;
    color: #FF0100;
    width: 200px;
    margin-left: 995px;
    margin-top: -18px;
}
/**
loading-table
 */
.repeat{
    margin-left: 4px;
    margin-top: -20px;
}
.glyphicon-repeat{
    font-size: 14px;
    transform: rotate(250deg);
    animation-name: rotate;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.loading-table_logos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 1035px;
}
.home_load{
    font-weight: bold;
    font-size: 14px;
    border: none;
    background: #F5F5F5;
    color: #8A8A8A;
    border-radius: 5px;
    width: 44px;
    height: 35px;
}
/***

 */
.reload_button{
    position: absolute;
    background: none;
    border-radius: 5px 0 0 5px;
    border: 0.5px solid #606060;
    height: 34px;
    width: 40px;
    background: #6EB1E3;
    color: #F5F5F5;
}
.reload_button:hover{
    background: #286090;
}


.loading-table_buttons{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 483px;
}
.reload_table{
    font-weight: bold;
    text-align: center;
    margin-left: -10px;
    margin-top: 215px;
}
.reload_index_search{
    display: flex;
}
.reload_index_search input{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    height: 29px;
    margin-top: 20px;
    margin-left: 1px;
    width: 435px;
}
.reload_index_search button{
    color: #F5F5F5;
    border: 1px solid #ccc;
    background: #0385D3;
    font-weight: bold;
    width: 90px;
    height: 34px;
    border-radius: 0 5px 5px 0;
    margin-top: 20px;
    margin-left: -10px;
}
.reload_index_search button:hover{
    background: #286090;
}

.rep{

    font-size: 20px;
}
/**
inline-error
 */

.whitespaces_message{
    font-weight: bold;
    color: #FF6058;
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 12px;
    margin-left: -8px;
    margin-bottom: 5px;
}
.error_td input{
    font-weight: bold;
    color: #ccc;
    font-size: 13px;
    padding-left: 10px;
    height: 27px;
    width: 298px;
    border-radius: 4px;
    border: 2px solid #FF6058;
    margin-top: 5px;
    margin-left: -10px;
}
.error-table-wrapper{
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
    overflow-y: scroll;
    margin-top: 15px;
    width: 1100px;
    height: 450px;
    max-height: 450px;
}
.error_first_td {
    padding-left: 10px;
    width: 30px;
}
.error_second_td{
    padding-left: 10px;
    text-align: center;
    width: 30px;
}
.error_third_td{
    padding-top: 2px;
    padding-left: 19px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 3px;
    color: #0385D3;
    width: 640px;
}
.error_third_td_black{
    color: #ccc;
    padding-top: 2px;
    padding-left: 20px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 3px;
    width: 640px;
}
.error_fourth_td{
    color: #ccc;
    padding-top: 2px;
    padding-left: 160px;
    width: 200px;
    font-size: 14px;
    font-weight: bold;
}
.error_fifth_td{
    color: #ccc;
    padding-right: 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    width: 200px;
}
.error_sixth_td{
    width: 130px;
}
/**
index loading
 */
.grey_tr{
    background: #F5F5F5;
}
.directory_name{
    display: flex;
}
.fdirectory{
    margin-left: -8px;
    height: 30px;
    margin-top: 2px;
    width: 290px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.load{
    font-size: 14px;
    color: #8A8A8A;
}
.reload_directory{
    color: #a0a0a0;
   margin: 10px;
}
.reload_delete_green{
    margin-left: 25px;
}
.reload_delete_green .glyphicon-repeat{
    padding-left: 5px;
    font-size: 20px;
    color: #9DD088;
}
.reload_delete_green .glyphicon-remove-circle{
    padding-left: 4px;
    font-size: 20px;
    color: #b60808;
}
.reload_delete_blue{
    margin-left: 25px;
}
.reload_delete_blue .glyphicon-repeat{
    padding-left: 5px;
    font-size: 20px;
    color: #6EB1E3;
}
.reload_delete_blue .glyphicon-remove-circle{
    padding-left: 4px;
    font-size: 20px;
    color: #b60808;
}
input:focus{
    outline: none;
    border-color: #77bef2;
    box-shadow: 0 0 5px #77bef2;
}





