@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/roboto-regular.woff2') format('woff2')
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #f2f2f2;
    font: 14px/1.25 "Roboto", "Times New Roman", Times, serif;
    min-width: 1000px;
    color: #000;
}

ul{
    list-style: none;
}

a {
    color: #2699dc;
    text-decoration: none;
}

a:hover {
    color: #34689b;
    text-decoration: underline;
}

hr{
    border: 0;
    height: 1px;
    background: #000;
    margin: 0 0 20px;
}

fieldset{
    border: none;
}

.button{
    border-radius: 3px;
    color: #fff;
    background: #fff;
    padding: 7px 12px;
    border: none;
    font: inherit;
    cursor: pointer;
}

.button-primary{
    background: #0085d3;
    border: 1px solid #2e6da4;
}

.button-primary:hover{
    background: #286090;
    border-color: #204d74;
    transition: all 0.5s;
}

.form-input{
    height: 34px;
    width: 100%;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 5px;
    letter-spacing: 0.3px;
    border: 1px solid #ccc;
}

.form-input:focus{
    outline: none;
    border-color: #77b1e7;
    box-shadow: 0 0 8px #bddbf7;
}

.wrapper {
    width: 561px;
    margin: 0 auto;
}

.table-wrapper{
    width: 1142px;
}

.page-header{
    padding: 30px 0 25px;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}

.box {
    background: #fff;
    border-radius: 19px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px #999;
    padding: 20px;
}

.box h1{
    font-size: 30px;
    margin: 0 0 7px;
}

.form-container{
    display: flex;
    flex-direction: column;
}

.form-section{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 15px;
}

.form-section>  label{
    max-width: 180px;
}

.form-input-container{
    width: 337px;
}

.input-error{
    border-color: #f00;
}

.input-error:focus{
    border-color: #f00;
    box-shadow: 0 0 8px #db6e6e;
}

.form-footer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5px;
    margin-left: 183px;
}

.form-input-container .error-label{
    margin: 7px 0 0 1px;
}

.error-label{
    color: #f00;
}

.server-error {
    color: #f00;
    padding-top: 10px;
    text-align: center;
}

.user-menu{
    padding-right: 6px;
    padding-bottom: 0px;
}

.menu-content{
    display: flex;
    justify-content: space-between;
    height: 20px;
}

.menu-content li{
    border-right: 2px solid #000;
    padding-right: 8px;
    margin-right: 8px;
}

.menu-content li:last-child{
    border: none;
    margin-right: 0;
    padding-right: 0;
}

.error-logout-container{
    padding: 0 5px 2px 0;
}

.vl{

    border-left: 1px solid #000;
    height: 20px;
    margin-right: -2px;
    /* padding: 0 ; */
}

.acc-container{
    display: flex;
    gap: 3px;
    color: #999;
}

.user-icon{
    align-self: flex-start;
    font: 14px "Roboto", "Times New Roman", Times, serif;
    color: #999;
}

.glyphicon-loader{
    animation: rotate 1s linear 0s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.glyphicon-loader:before{
    content: "\e030";
}
